<center>@{
    ViewData["Title"] = "Creditos";
}
<h1>@ViewData["Title"]</h1>

<h1>Muchas gracias por jugar nuestro juego</h1>
<h2>Creado y producido por: Tomas Neimerman, Santiago Cañete y Martin Sedam</h2>
<h3>Pensado por: Santiago Cañete y Martin Sedam</h3>
<h4>Diseñado por: Martin Sedam</h4>
<h5>Programado por: Santiago Cañete y Tomas Neimerman</h5>
<h6>Muchas gracias chau</h6>
</center>