<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Segundo desafio</h1>
    <img src="~/img/acertijo2.jpeg" height="400px" width="auto">
    <form action='@Url.Action("Habitacion")'>
    <p>A cuatro prisioneros se le da la opción de salir de la cárcel si adivinan el color del sombrero que llevan puesto. Están en fila, mirando todos hacia la misma dirección. Al cuarto lo separa un muro por lo que el tercer y cuarto hombre no pueden ver a nadie. Se les dice que hay dos sombreros negros y dos blancos.
    </p><p>Tienen algunas normas:</p>
<ol>
    <li>No pueden moverse ni girarse.</li>
    <li>No pueden hablar.</li>
    <li>No pueden quitarse el sombrero en ningún momento. </li>
</ol>
    <p>Si todos siguen las normas, ¿cuál es el primero en hablar?</p>
    <select name="opcioncorrecta" >
        <option> </option>
        <option>El primero</option>
        <option>El segundo</option>
        <option>El tercero</option>
        <option>El cuarto</option>
        </select>
        <input type="submit">
    </form>
</body>

</html>