<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <audio src="~/audio/audiofondo.mp3" autoplay="autoplay" loop="loop"></audio>
    <form method="post" action='@Url.Action("Habitacion","Home")'>
        <center><img src="~/img/acertijofinal.png" height="400px" width="auto"></center>
        <p>Un hombre despierta en una habitación oscura y se da cuenta de que está atado a una silla. Hay tres puertas frente a él, cada una con un mensaje en la parte superior:</p>
        <ol>
        <li>"La muerte segura te espera detrás de esta puerta."</li>
        <li>"Detrás de esta puerta hay una llave para tu liberación."</li>
        <li>"Un desafío te espera detrás de esta puerta."</li>
        </ol>
        <p>El hombre sabe que detrás de una de las puertas hay una salida y detrás de las otras dos hay una muerte segura. Sin embargo, no hay ninguna pista adicional. ¿Qué puerta debe elegir para tener la mejor posibilidad de sobrevivir?</p>
        <select name="clave">
            <option> </option>
            <option>La primera</option>
            <option>La segunda</option>
            <option>La tercera</option>
        </select>
        <input type="submit">
        <input type="hidden" name="sala" value="4">
    </form>
</body>
</html>