<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <audio src="~/audio/audiofondo.mp3" autoplay="autoplay" loop="loop"></audio>
    <form method="post" action='@Url.Action("Habitacion","Home")'>
      <center>
        <img src="~/img/acertijo3.jpeg" height="400px" width="auto"></center>
   <p>Entras en una habitación completamente oscura. En la habitación, hay una estufa de gas, una lámpara de aceite y una vela. Tienes un fósforo en tu bolsillo, pero solo tienes suficiente fósforo para encender una de las tres cosas. ¿Qué deberías encender primero?</p>
    <select name="clave" >
        <option> </option>
        <option>Estufa de gas</option>
        <option>Vela</option>
        <option>Lampara de aceite</option>
        <option>Fosforo</option>
        </select>
        <input type="submit">
        <input type="hidden" name="sala" value="3">
    </form>
    <br>
    <button onclick="alert('No es metalico')"> Pista 1 </button>
    <button onclick="alert('No depende de otra fuente para iniciarse')"> Pista 2 </button>
    <button onclick="alert('Es de madera')"> Pista 3 </button>
    
</body>
</html>