<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenido al primer desafio</h1>
    <h4>Te dare un acertijo que deberas resolver</h4>
    <form method="post" action='@Url.Action("Habitacion")'>
        <p>No se puede ver ni se puede sentir, este ocupa todos los espacios vacíos. No se puede oler ni se puede oír, está detrás de los astros, y está al pie de las colinas, llega primero y se queda; mata risas y acaba vidas. ¿Que soy?</p>
        <select name="opcioncorrecta" >
        <option> </option>
        <option>La oscuridad</option>
        <option>El silencio</option>
        <option>La muerte</option>
        <option>La enfermedad</option>
        </select>
        <input type="submit">
    </form>
</body>
</html>