@{
    ViewData["Title"] = "Inicio";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/site.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class = "index">
    <audio src="~/audio/audiofondo.mp3" autoplay="autoplay" loop="loop"></audio>
    <div class="inicio">
    <center>
    SAW GAMES
    <br>
    <a href='@Url.Action("Tutorial")'><h6>Pasar directamente al tutorial =====></h6></a>
    </center>
    </div>
</body>
</html>