@{
    ViewData["Title"] = "Tutorial";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="p">
    <p>Esta página web es una sala de escape sobre la saga SAW. Te encontrarás bajo la piel del estudiante "Santiago Cañete", y tendras que enfrentar desafios en cada habitación hasta finalmente salir. Cada sala contendra un acertijo, y se podrán hallar distintas pistas para avanzar. Equivocarse significa empezar de nuevo, ya que no hay segundas oportunidades en este escape. ¡Buena suerte!</p>
    </div>
</body>
</html>