<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="final">
 <audio src="~/audio/victoria.mp3" autoplay="autoplay"></audio>
    <center>
    <h1>Felicidades</h1>
    <h2>Pudiste escapar</h2>
    </center>
</body>
</html>