html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #94211F;
  color:white;
}
.p{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin: 0;
  font-size: 24px;
}
.index{
  background-image:url(../img/fondoinicio.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 0px;
  
}
.inicio{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 50vh;
  font-size: 96px;
  color: white;
 
  font-family: serif;
  
}
.final{
  background-image:url(../img/celebracion.gif);
}

